/**
 * 页面布局
 * @author zmrdlb | 592044573@qq.com
 */

 html,
 body {
   height: 100%;
 }

 body{
    @font-ruleset();
    .text();
    font-family: @font-family;
    font-style: normal;
    font-weight: 400;
    background-color: @color-bg;
    min-width: @page-min-width;
    max-width: @page-max-width;
 }

 // /**
 //  * 导航
 //  */
 //
 // body:not(.home) .nav-wrapper {
 //     max-width: @content-max-width;
 //     margin-left: auto;
 //     margin-right: auto;
 // }
 //
 // /**
 //  * 内容区
 //  */
 //
 // body:not(.home) .content-frame {
 //     min-width: @content-min-width;
 //     max-width: @content-max-width;
 //     margin-left: auto;
 //     margin-right: auto;
 // }
